absl-py==0.2.2
appnope==0.1.0
astor==0.6.2
astroid==1.6.5
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.weakref==1.0.post1
beautifulsoup4==4.6.0
bleach==1.5.0
boto==2.48.0
boto3==1.5.1
botocore==1.8.15
bs4==0.0.1
bz2file==0.98
cachetools==2.1.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colormath==3.0.0
configparser==3.5.0
csvwriter==0.2.2
cycler==0.10.0
cymem==1.31.2
cytoolz==0.8.2
decorator==4.3.0
descartes==1.1.0
dill==0.2.7.1
docutils==0.14
enum34==1.1.6
Fiona==1.7.11.post2
Flask==0.12.2
Flask-Cors==3.0.6
ftfy==4.4.3
funcsigs==1.0.2
futures==3.2.0
gast==0.2.0
gdelt==0.1.10.5.2
gensim==3.2.0
geopandas==0.3.0
get==1.0.3
google-api-core==1.2.1
google-auth==1.5.0
google-cloud-vision==0.32.0
googleapis-common-protos==1.5.3
grpcio==1.12.1
h5py==2.8.0
html5lib==0.9999999
httplib2==0.11.3
idna==2.6
ipython==5.5.0
ipython-genutils==0.2.0
isort==4.3.4
itsdangerous==0.24
Jinja2==2.11.3
jmespath==0.9.3
Keras==2.1.6
lazy-object-proxy==1.3.1
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.2
mccabe==0.6.1
mock==2.0.0
mongoengine==0.15.3
msgpack-numpy==0.4.1
msgpack-python==0.5.4
munch==2.3.2
murmurhash==0.28.0
networkx==2.0
nltk==3.2.5
nose==1.3.7
numpy==1.14.3
oauth2==1.9.0.post1
oauthlib==2.0.7
pandas==0.23.1
pathlib==1.0.1
pathlib2==2.1.0
patsy==0.4.1
pbr==4.0.4
peewee==3.3.2
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.0.0
pipenv==11.10.1
plac==0.9.6
post==1.0.2
preshed==1.0.0
progressbar2==3.37.1
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
ptyprocess==0.5.2
public==1.0.3
pyasn1==0.4.3
pyasn1-modules==0.2.1
pyclipper==1.1.0
pycodestyle==2.4.0
pydocstyle==2.1.1
pyflakes==2.0.0
Pygments==2.2.0
pylama==7.4.3
pylint==1.9.2
pymongo==3.7.1
pyparsing==2.2.0
pyproj==1.9.5.1
PySocks==1.6.8
pyswarm==0.6
python-dateutil==2.6.1
python-dotenv==0.8.2
python-utils==2.3.0
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
query-string==1.0.2
rake-nltk==1.0.3
regex==2017.4.5
request==1.0.2
requests==2.18.4
requests-oauthlib==0.8.0
rsa==3.4.2
s3transfer==0.1.12
scandir==1.7
scikit-image==0.13.1
scikit-learn==0.19.1
scikit-video==1.1.10
scipy==1.0.0
Shapely==1.6.4.post1
simplegeneric==0.8.1
simplejson==3.15.0
singledispatch==3.4.0.3
six==1.11.0
smart-open==1.5.5
snowballstemmer==1.2.1
spacy==2.0.11
statsmodels==0.8.0
subprocess32==3.5.1
TBB==0.1
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
thinc==6.10.2
toolz==0.9.0
toposort==1.5
tornado==5.0
tqdm==4.19.6
traitlets==4.3.2
tweepy==3.6.0
twitter==1.18.0
TwitterSearch==1.0.2
ujson==1.35
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
wrapt==1.10.11
xlrd==1.1.0
