boto==2.48.0
boto3==1.7.33
botocore==1.10.33
bz2file==0.98
certifi==2018.4.16
click-plugins==1.0.3
cligj==0.4.0
descartes==1.1.0
docutils==0.14
enum34==1.1.6
Fiona==1.7.11.post2
futures==3.2.0
gensim==3.4.0
geopandas==0.3.0
jmespath==0.9.3
munch==2.3.2
pandas==0.23.0
pyproj==1.9.5.1
python-dateutil==2.7.3
pytz==2018.4
s3transfer==0.1.13
scipy==1.1.0
Shapely==1.6.4.post1
smart-open==1.5.7
